<head>
        
  <meta charset="utf-8">
  
  <title> Formulario de Acceso </title>    
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="keywords" content="Formulario Acceso, Formulario de LogIn">
  
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
  
  <!-- Link hacia el archivo de estilos css -->
  <link rel="stylesheet" href="../css/login.css">
  
  <style type="text/css">
      
  </style>
  
  <script type="text/javascript">
  
  </script>
  
</head>

<body>
  <div id="contenedor">
      <div id="central">
          <div id="login">
              <div class="titulo">
                  
              </div>
              <img src="../img/logo.png" alt="Logo" class="logo" width="600" height="350">
              <form id="loginform" action="mintransporte.html">
                  <input id="user" type="text" name="usuario" placeholder="Usuario" required>
                  <input id="password" type="password" placeholder="Contraseña" name="password" required>
                  <button type="submit" title="Ingresar" name="Ingresar">Login</button>
              </form>
          </div>
      </div>
  </div>
</body>
<script>
  
</script>